<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/new" method="get">
    Difficulty:<br>
    <input type="radio" name="difficulty" value="easy" checked> Easy<br>
    <input type="radio" name="difficulty" value="medium"> Medium<br>
    <input type="radio" name="difficulty" value="hard"> Hard<br>
    <input type="radio" name="difficulty" value="custom"> Custom<br><br>
    Height:<br>
    <input type="text" name="height" value="9" disabled><br>
    Width:<br>
    <input type="text" name="height" value="9" disabled><br>
    Mines:<br>
    <input type="text" name="mines" value="10" disabled><br><br>
    <input type="submit" value="Play">
</form>
</body>
</html>
